html>body {
    font-family: 'Acme', sans-serif;
    background-image:  url(https://i.pinimg.com/originals/1a/bf/79/1abf798f4b3e40227746ec9daa141af1.jpg);
    background-repeat: no-repeat;
    background-size: cover;    
}
footer .social{
  font-size: 1.7em;
  margin-right: 2vw;
}
#welcome-section{
    color: rgb(197, 10, 214);
    height:100vh;
    margin-top: 90px;
    
}
 #projects>div>button>a{
    text-decoration: none;
}
.nav-link{
  color: rgb(190, 77, 11);
  font-size: 1.5em;
  margin-left: 20px;
  
}
@media screen and
  (max-width: 450px){
    #welcome-section{
      width:100%;
      height: auto;
    }
   footer .email{
  font-size: .77em;
}
#navbar{
  width: 100%;
  height: auto;
  font-size: .8em;

}
}

#profile-link{
  text-decoration: none;
  color: rgb(204, 236, 211);
}
#welcome-section{
  display: block;
  
}
#footer{
  display: block;
}
